name: CI

# Controls when the action will run. Triggers the workflow on push or pull request
# events but only for the master branch
on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

defaults:
  run:
    shell: bash # Implies `set -eo pipefail`, among other things. See https://docs.github.com/en/actions/using-workflows/workflow-syntax-for-github-actions#jobsjob_idstepsshell

env:
  CI: 1

jobs:
  build-x86_64-linux:
    runs-on: ubuntu-22.04

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - uses: jlumbroso/free-disk-space@v1.3.1
      with:
        tool-cache: true
    
    - uses: cachix/install-nix-action@v24
      with:
        install_url: https://releases.nixos.org/nix/nix-2.8.1/install
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          substituters = https://cache.nixos.org https://mzabani.cachix.org https://cache.iog.io
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= mzabani.cachix.org-1:wnkKakfl+rbT7zTtV1P1tAtjBTuh6GQVX7LfSd9sMbA= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

    - uses: cachix/cachix-action@v12
      with:
        name: mzabani
        skipPush: false
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

    - name: Build library
      run: nix build --no-link ".#hpgsql:lib:hpgsql"

    - name: Build tests
      run: nix build --no-link ".#hpgsql:test:hpgsql-test"

    - name: Run tests
      run: nix develop .#shellWithRunfile -c run ci-tests

    - name: Build haddocks
      run: nix build --no-link ".#hpgsql:lib:hpgsql.doc"

  build-aarch64-darwin:
    runs-on: macos-14

    steps:
    - uses: actions/checkout@v4
      with:
        submodules: recursive

    - name: Recover disk space
      run: |
          df -h
          ls /Applications
          brew uninstall google-chrome
          sudo rm -rf /Users/runner/Library/Android
          sudo rm -rf /Applications/Xcode*
          sudo rm -rf /Applications/Python*
          ls /Applications
          df -h
    
    - uses: cachix/install-nix-action@v24
      with:
        install_url: https://releases.nixos.org/nix/nix-2.8.1/install
        nix_path: nixpkgs=channel:nixos-unstable
        extra_nix_config: |
          substituters = https://cache.nixos.org https://mzabani.cachix.org https://cache.iog.io
          trusted-public-keys = hydra.iohk.io:f/Ea+s+dFdN+3Y/G+FDgSq+a5NEWhJGzdjvKNGv0/EQ= mzabani.cachix.org-1:wnkKakfl+rbT7zTtV1P1tAtjBTuh6GQVX7LfSd9sMbA= cache.nixos.org-1:6NCHdD59X431o0gWypbMrAURkbJ16ZPMQFGspcDShjY=

    - uses: cachix/cachix-action@v12
      with:
        name: mzabani
        skipPush: false
        authToken: ${{ secrets.CACHIX_AUTH_TOKEN }}
        signingKey: ${{ secrets.CACHIX_SIGNING_KEY }}

    - name: Build library
      run: nix build --no-link ".#hpgsql:lib:hpgsql"

    - name: Build tests
      run: nix build --no-link ".#hpgsql:test:hpgsql-test"

    - name: Run tests
      run: nix develop .#shellWithRunfile -c run ci-tests

